@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");


body {
    margin: 0;
    width: 1366px;

}

.section {
    text-align: center;
}
.container {
    width: 100%;
    height: 768px;
    margin: 0 auto;
    background-image: url("../img/background-color.png")
}
.text-decoration {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
}


.main-header {
    display: flex;
}
.main-header-logo {
    width: 53px;
    padding: 51px 10px 26px 50px;
}

.title-first {
    font-size: 29px;
}
.title-second {
    font-size: 18px;
}

.main-header-logo-title {
    margin: 55px 700px 26px 60px;
    text-align: left;
}
.main-header-logo-title-hover:hover {
    color: #F26522
}

.main-header-logo-title-inform {
    text-align: right;
    padding: 46px 160px 17px 100px;
    margin-bottom: 19px;
}
.main-header-logo-title-email-hover:hover {
    color: #F26522
}
.main-header-logo-title-email {
    padding: 46px 0 19px 10px;
}
.email {
    margin-bottom: 19px;
}

.main-header-logo-title-tel {
    padding: 0 0 17px 10px;
}
.main-header-logo-title-tel-hover:hover {
    color: #F26522
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "main-header-item-shopping main-header-item-sightseeing main-header-item-food"
    "main-header-item-bars main-header-item-art main-header-item-walking";
    margin: 0 22px 178px 49px;
}
.main-menu-title {
    margin-top: 20px;
    font-size: 18px;
    width: 304px;
}

.main-header-item-shopping,
.main-header-item-sightseeing,
.main-header-item-food {
    margin-bottom: 37px;
}
.main-header-item-bars,
.main-header-item-art,
.main-header-item-walking {
    /*margin-bottom: 49px;*/
}
/
.main-menu-title:hover {
    color: #F26522
}


.photo-item {
    position: relative;
    width: 274px;
    height: 284px;
    cursor: pointer;
}

.photo-item:hover .photo-item-details {
    opacity: 1;
}


.photo-item-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
}

.photo-item-title:after {
    margin-top: 25px;
    margin-bottom: 28px;
}

.photo-item-description {
    padding: 7px 128px 12px 16px;
    color: #FFFFFF;
}

.photo-item-details {
    position: absolute;
    top: 165px;
    width: 304px;
    height: 55px;
    opacity: 0;
    background-image: url("../img/hover.png");
    transition: all 0.7s;
    display: flex;
}
.from {
    font-size: 10px;
    text-align: left;
}
.price {
    font-size: 20px;
    padding-top: 8px;
}

.photo-item-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.photo-item-description-details {
    position: relative;
    margin-left: 10px;
    margin-top: 29px ;
}

.photo-item-description-details::after {
    content: url("../img/vector.png");
    margin-left: 16px;
    position: absolute;
}


.section-footer {
    text-align: center;
}

.footer-item {
    font-size: 12px;
    color: black;
}